<aside>
    <section>
    <a href="/"> <i class="bi bi-house"></i> home</a>
    <a href="/brands"> <i class="bi bi-building"></i> merken</a>
    <a href="/types"> <i class="bi bi-front"></i> type's</a>
    <form action="/logout" method="post">
        <button type="submit"><i class="bi bi-box-arrow-right"></i> Logout</button>
    </form>
    </section>
</aside>

