<%- include('partials/header'); %>
<main class="fault">
    <section>
        <h1 style="left: 0; top: 0; position: absolute;">
            sorry pagina niet gevonden 404.
        </h1>
    </section>
</main>
