<!DOCTYPE html>
<html lang="en" class="login-page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Login - Terminal-App</title>
</head>
<body class="login-page">
<main>
    <section class="login">
        <h1>Login</h1>
        <form class="login-form" action="/login" method="post">
            <article>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"/>
            </article>
            <article>
                <label for="password">wachtwoord:</label>
                <input type="password" id="password" name="password"/>
            </article>
            <button type="submit">Verzenden</button>
        </form>
    </section>
</main>
<%- include('partials/footer'); %>
</body>
</html>