<%- include('partials/header'); %>
<%- include('partials/aside'); %>

    <main>
        <h1>type's</h1>
        <section class="types">
            <article class="type">
                <img src="/assets/images/aeg.jpg" alt="">
                <h1>aeg</h1>
                <p>Een AEG (Automatic Electric Gun) in airsoft is een elektrisch aangedreven luchtgeweer
                   dat plastic balletjes (BB's) afvuurt. Het voordeel van een AEG is de betrouwbaarheid,
                   consistentie en aanpasbaarheid. Een MOSFET is een elektronische component die de
                   triggerrespons verbetert en kan aanpassen. zo kan je kiezen of je single, binary of burst.
                   ook zorgt het voor de levensduur van de AEG te verlengen door de elektrische
                   stroom beter te regelen.</p>
            </article>

            <article class="type">
                <img src="/assets/images/gas&co2.jpg" alt="">
                <h1>gas & co2</h1>
                <p>GBB staat voor Gas Blowback en GBBR staat voor Gas Blowback Rifle. Dit zijn types
                   luchtgeweren in airsoft die worden aangedreven door gas, meestal groen gas of CO2.
                   Wanneer het geweer wordt afgevuurd, zorgt het gas voor een terugslag die vergelijkbaar
                   is met die van een echt vuurwapen. Dit zorgt voor een realistische ervaring voor
                   de speler. GBB en GBBR replica's zijn populair vanwege hun realisme, maar ze vereisen
                   meer onderhoud en hebben vaak een lagere capaciteit dan AEG's.</p>
            </article>

            <article class="type">
              <img src="/assets/images/hpa.jpg" alt="">
              <h1>hpa</h1>
              <p>HPA staat voor High-Pressure Air en het wordt steeds populairder in de wereld van airsoft.
               HPA-systemen gebruiken perslucht, meestal gecomprimeerde lucht of stikstof, om de BB's af
               te vuren. Deze systemen bieden een aantal voordelen, waaronder een zeer consistente prestatie,
               snelle reactietijden en de mogelijkheid om de vuurkracht gemakkelijk aan te passen door
               de druk aan te passen. HPA-systemen zijn vaak duurzamer dan gas- of veeraangedreven systemen,
               en ze kunnen worden gebruikt in zowel replica's met een blowback-mechanisme als in AEG's.</p>
            </article>

            <article class="type">
                <img src="/assets/images/spring.jpg" alt="">
                <h1>spring</h1>
                <p>Springs in airsoft worden voornamelijk gebruikt in veeraangedreven sniper rifles voor
                   krachtige en nauwkeurige schoten over lange afstanden. Deze veermechanismen leveren de
                   benodigde kracht voor het afvuren van BB's, wat essentieel is voor precisieschieten.
                   Hoewel ze minder snel vuren dan AEG's of GBB's, bieden veeraangedreven sniper rifles
                   betrouwbaarheid en kracht voor spelers die zich willen specialiseren in
                   langeafstandsschoten en precisie.</p>
              </article>
        </section>
    </main>

<%- include('partials/footer'); %>
