* {
    box-sizing: border-box;
    cursor: url('/assets/images/cursor.cur'), auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background-color: #2b2b3a;

    display: grid;
    grid-template-areas: 
        'aside main'
        'aside main'
        'footer footer';
    grid-template-columns: 320px 1fr;
    grid-gap: 0;
    min-height: 100vh;
}

aside {
    grid-area: aside;
    background-color: #2b2b3a;
    max-height: 100%;
    color: #ffffff;
    width: 300px;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
}

footer {
    grid-area: footer;
    text-align: center;
    color: #ffffff;
}

.landingspage {
    display: flex;
    flex-direction: row;
}

.landingspage a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #cccccc;
}

.landingspage a:hover {
    text-decoration: underline;
    color: #ff6600;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

aside section {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

aside section a {
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
}

aside section form button {
    padding: 15px;
    border: none;
    font-size: 1.2rem;
    background-color: #2b2b3a;
    color: #ffffff;
}

.search-bar {
    margin-bottom: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.search-bar button {
    border: none;
    background-color: #2b2b3a;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
    font-size: 1rem;
    margin-right: 10px;
    color: #ffffff;
}

.search-bar button i {
    border: none;
    background-color: #2b2b3a;
    padding: 0;
    cursor: pointer;
    display: block;
    font-size: 1rem;
}

.search-bar input {
    border-radius: 5px;
    font-size: 1rem;
    background-color: #1e1e2d;
    color: #ffffff;
    border: 1px solid #444444;
}

.hamburger-items {
    width: 95%;
    height: 545px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    padding-right: 20px;
}

.hamburger-items::-webkit-scrollbar {
    width: 12px;
}

.hamburger-items::-webkit-scrollbar-track {
    background: #2b2b3a;
    border-radius: 10px;
}

.hamburger-items::-webkit-scrollbar-thumb {
    background-color: #ff6600; 
    border-radius: 10px;
    border: 3px solid #2b2b3a;
}

.hamburger-items::-webkit-scrollbar-thumb:hover {
    background-color: #ff6600; 
}

.hamburger-items::-webkit-scrollbar-button {
    display: none;
}

.info-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: auto;
    margin: 1rem;
    border: 1px solid #444444;
    border-radius: 15px;
    width: 100%;
    background-color: #2b2b3a;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.info-items img {
    width: 15%;
    max-width: 150px;
}

.info-items p,
.info-items ul,
.info-items a {
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-left: 2rem;
    flex: 1;
}

.info-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info-items ul li{
    border: 1px solid #444444;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.item-icon {
    margin-right: 20px;
}

.item-icon i {
    font-size: 1.5rem;
}

.item-icon i:hover {
    color: #ffffff;
}

.electric {
    color: red;
    font-size: large;
}

.gas {
    color: green;
    font-size: large;
}

.hpa {
    color: blue;
    font-size: large;
}

.spring {
    color: gray;
    font-size: large;
}

.green {
    color: green;
}

.red {
    color: red;
}

.fullauto {
    background-color: green;
    border: 2px solid green;
    border-radius: 5px;
    width: auto;
    padding: 0.5rem;
    margin: auto 1%;
    color: white;
    text-align: center;
}

.nofullauto {
    background-color: red;
    border: 2px solid red;
    border-radius: 5px;
    width: auto;
    padding: 0.5rem;
    margin: auto 1%;
    color: white;
    text-align: center;
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    width: 95%;
    font-size: 1rem;
    top: 0;
}

.sort form button {
    background-color: white;
    border: none;
    font-size: medium;
    background-color: #2b2b3a;
    color: #ffffff;
    font-size: 1rem;
}

.sort-select {
    border: none;
    justify-content: space-between;
    background-color: #2b2b3a;
    color: #ffffff;
    font-size: 1rem;
}

.info-items a {
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-left: 3rem;
    width: 5%;
}

.img-home {
    height: 9rem;
    margin-left: 1rem;
    padding: 5px;
}

.a-brands {
    text-decoration: none;
    color: #cccccc;
    width: 5%;
}

.a-brands:hover {
    text-decoration: none;
    color: #ff6600;
}

.product-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #2b2b3a;
    color: #ffffff;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    margin: 25px;
    background-color: #2b2b3a;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 50%;
    color: #ffffff;
}

.info-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b2b3a;
}

.info-top img {
    width: 100%;
    height: 400px;
    margin: 1%;
}

.info-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #2b2b3a;
    border-top: 2px solid #444444;
    margin-top: 3rem;
}

.info-bottom form button {
    margin-top: 3%;
    background-color: #444444;
    border: 2px solid #444444;
    color: white;
    font-size: medium;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.info-bottom form article {
    padding: 2px;
}

.info-bottom form button:hover {
    background-color: #666666;
}

.types {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    background-color: #2b2b3a;
}

.type {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #444444;
    border-radius: 15px;
    margin: 1rem;
    padding: 10px;
    width: 45%;
    background-color: #2b2b3a;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.type img {
    width: 60%;
    height: 200px;
}

.type p {
    margin-top: 10px;
    text-align: center; 
    border-top: 1px solid #444444;
    padding: 15px;
}

.brand-info {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    background-color: #2b2b3a;
}

.brand-info article {
    border: 2px solid #444444;
    border-radius: 15px;
    margin: 1rem;
    padding: 20px;
    width: 22%;
    background-color: #2b2b3a;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.brand-info article img {
    margin: 0;
}

footer {
    text-align: center;
    bottom: 0;
    padding: 20px;
    color: #ffffff;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    background-color: #1e1e2d;
    color: #ffffff;
}

.login-page body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1e1e2d;
}

.login-page main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-page .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    color: #ffffff;
}

.login-page .login h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.login-page .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1e1e2d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.login-page .login-form article {
    margin-bottom: 15px;
}

.login-page .login-form label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.login-page .login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #2b2b3a;
    color: #ffffff;
}

.login-page .login-form input:focus {
    border-color: #ff6600;
}

.login-page .login-form button {
    padding: 10px 15px;
    background-color: #444444;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-page .login-form button:hover {
    background-color: #666666;
}

/* Media Queries voor Responsiviteit */

@media (max-width: 1237px) {

    body {
        grid-template-areas: 
        'aside main'
        'footer footer';
        grid-template-columns: 1fr;
    }

    aside{
        width: 200px;
    }

    .info-items {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 1rem;
        border: 1px solid #444444;
        border-radius: 15px;
        background-color: #2b2b3a;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
    
    .info-items img {
        width: 50%;
        max-width: 150px;
        margin-bottom: 1rem;
    }
    
    .item-icon {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .item-icon i{
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .info-items p,
    .info-items ul,
    .info-items a {
        width: 20%;
        padding: 15px;
        margin: 0;
        text-align: center;
        align-content: center;
    }
    
    .info-items ul {
        list-style-type: none;
        margin: 0;
    }
    
    .info-items ul li{
        border: 1px solid #444444;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px;
        text-align: center;
    }
    
    .fullauto, .nofullauto {
        width: 50px;
    }

    .product-main{
        width: 724px;
    }

    .product-info, .type, .brand-info article {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-bar {
        flex-direction: row;
        align-items: center;
    }

    .search-bar input {
        width: 50%;
        font-size: 1.2rem;
    }

    .sort form{
        display: flex;
        flex-direction: row;
    }

    .sort, .hamburger-items{
        width: 700px;
    }
}

@media (max-width: 1024px) {
    body {
        grid-template-areas: 
        'aside main'
        'footer footer';
        grid-template-columns: 1fr;
    }

    aside {
        width: 150px;
        border-left: none;
        border-top: 1px solid #444444;
    }

    .info-items {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 1rem;
        border: 1px solid #444444;
        border-radius: 15px;
        background-color: #2b2b3a;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
    
    .info-items img {
        width: 50%;
        max-width: 150px;
        margin-bottom: 1rem;
    }
    
    .item-icon {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .item-icon i{
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .info-items p,
    .info-items ul,
    .info-items a {
        width: 20%;
        padding: 15px;
        margin: 0;
        text-align: center;
        align-content: center;
    }
    
    .info-items ul {
        list-style-type: none;
        margin: 0;
    }
    
    .info-items ul li{
        border: 1px solid #444444;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px;
        text-align: center;
    }
    
    .fullauto, .nofullauto {
        width: 50px;
    }

    .product-main{
        width: 724px;
    }

    .product-info, .type, .brand-info article {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-bar {
        flex-direction: row;
        align-items: center;
    }

    .search-bar input {
        width: 50%;
        font-size: 1.2rem;
    }

    .sort form{
        display: flex;
        flex-direction: row;
    }

    .sort, .hamburger-items{
        width: 724px;
    }
}

@media (max-width: 720px) {
     
    body {
        grid-template-areas: 
        'aside main'
        'footer footer';
        grid-template-columns: 1fr;
    }

    aside {
        width: 150px;
        border-left: none;
        border-top: 1px solid #444444;
    }

    .info-items {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 1rem;
        border: 1px solid #444444;
        border-radius: 15px;
        background-color: #2b2b3a;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
    
    .info-items img {
        width: 50%;
        max-width: 150px;
        margin-bottom: 1rem;
    }
    
    .item-icon {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .item-icon i{
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .info-items p,
    .info-items ul,
    .info-items a {
        width: 30%;
        padding: 15px;
        margin: 0;
        text-align: center;
        align-content: center;
    }
    
    .info-items ul {
        list-style-type: none;
        margin: 0;
    }
    
    .info-items ul li{
        border: 1px solid #444444;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px;
        text-align: center;
    }
    
    .fullauto, .nofullauto {
        width: 50px;
    }

    .product-main{
        width: 724px;
    }

    .product-info, .type, .brand-info article {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-bar {
        flex-direction: row;
        align-items: center;
    }

    .search-bar input {
        width: 50%;
        font-size: 1.2rem;
    }

    .sort form{
        display: flex;
        flex-direction: row;
    }

    .sort, .hamburger-items{
        width: 570px;
    }
}

@media (max-width: 500px) {

    body {
        grid-template-areas: 
        'aside'
        'main'
        'footer';
        grid-template-columns: 1fr;
    }

    aside{
        width: 200px;
        display: flex;
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        width: 80%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .info-items img {
        width: 100%;
    }

    .search-bar {
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .search-bar button{
        width: 200px;
        font-size: 1.2rem;
    }

    .info-items {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-content: center;
        width: 300px;
        margin: 5px;
        padding: 1rem;
        border-radius: 15px;
    }
    
    .info-items img {
        width: 50%;
        max-width: 150px;
        margin-bottom: 1rem;
    }
    
    .item-icon {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .info-items p,
    .info-items ul{
        width: 100%;
        padding: 15px;
        margin: 0;
    }
    
    .info-items ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .info-items ul li{
        border: 1px solid #444444;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        width: 100px;
        text-align: center;
    }

    
    .info-items a {
        text-decoration: none;
        color: #ffffff;
    }

    .fullauto, .nofullauto{
        width: 50px;
    }



    .product-info, .type, .brand-info article {
        margin-right: auto;
        margin-left: auto;
    }

    .info-top img{
        padding: 5px;
    }

    .sort {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0%;
        width: 300px;
        padding: 10px;
    }

    .sort input {
        width: 100%;
    }

    .sort form button {
        width: 10%;
    }

    .landingspage {
        flex-direction: row;
        align-items: center;
    }

    .landingspage a {
        margin: 5px;
    }

    .sort, .hamburger-items{
        width: 320px;
    }

    .product-main , .product-info{
        width: 100%;
        padding: 0px;
        margin: 0%;
    }

    .product-info{
        width: 300px;
    }
}


@media (max-width: 320px) {

    body {
        grid-template-areas: 
        'aside'
        'main'
        'footer';
        grid-template-columns: 1fr;
    }

    aside{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        text-align: center;
        align-content: center;
        padding: 0;
    }

    .info-items img {
        width: 100%;
    }

    .search-bar {
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .search-bar button{
        width: 200px;
        font-size: 1.2rem;
    }

    .info-items {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-content: center;
        width: 300px;
        margin: 5px;
        padding: 1rem;
        border-radius: 15px;
    }
    
    .info-items img {
        width: 50%;
        max-width: 150px;
        margin-bottom: 1rem;
    }
    
    .item-icon {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .info-items p,
    .info-items a {
        width: 100%;
        padding: 15px;
        margin: 0;
    }
    
    .info-items ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .info-items ul li{
        border: 1px solid #444444;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        width: 100px;
        text-align: center;
    }
    
    .info-items a {
        text-decoration: none;
        color: #ffffff;
    }

    .fullauto, .nofullauto{
        width: 50px;
    }

    .product-info, .type, .brand-info article {
        width: 100%;
    }

    .sort {
        flex-direction: column;
        width: 300px;
        padding: 10px;
    }

    .sort input {
        width: 100%;
    }

    .sort form button {
        width: 10%;
    }

    .landingspage {
        flex-direction: row;
        align-items: center;
    }

    .landingspage a {
        margin: 5px;
    }

    .sort, .hamburger-items{
        width: 320px;
    }

    .product-main , .product-info{
        width: 310px;
        margin: 0px;
        padding: 0px;
    }

    .product-info{
        width: 300px;
    }
}