*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-areas: 
    'aside header'
    'aside main'
    'footer footer';
    font-family: sans-serif;
    font-style: normal;
}

header{grid-area: header;}
aside{grid-area: aside;}
main{grid-area: main;}
footer{grid-area: footer;}

header{
    width: 100%;
}

aside{
    width: 200px;
}

main{
    width: 100%;
}

.info-items{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img-item img{
    width: 300px;
    height: 300px;
}

